@reference "@/index.css";

.markdown-body h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-body h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-body h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-body h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.markdown-body h5 {
  font-size: 0.875em;
  font-weight: bold;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.markdown-body h6 {
  font-size: 0.85em;
  font-weight: bold;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  color: #6a737d;
}

.markdown-body p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  padding: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-body code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

.markdown-body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.markdown-body blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-body table {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  overflow: auto;
  width: 100%;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

/* 暗黑模式样式 */
html.dark .markdown-body h1,
html.dark .markdown-body h2 {
  border-bottom-color: #30363d;
}

html.dark .markdown-body h6 {
  color: #8b949e;
}

html.dark .markdown-body pre {
  @apply bg-gray-600;
}

html.dark .markdown-body blockquote {
  border-left-color: #30363d;
  color: #8b949e;
}

html.dark .markdown-body table th,
html.dark .markdown-body table td {
  border-color: #30363d;
}

html.dark .markdown-body table tr {
  background-color: #0d1117;
  border-top-color: #30363d;
}

html.dark .markdown-body table tr:nth-child(2n) {
  background-color: #161b22;
}
